body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color:black;
}

.logo img {
    margin:-40px -10px;
    height: 120px;
    width: 120px;
}

.search-bar {
    display: flex;
   
}

.search-bar input {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 8px;
        flex: 1;
        font-size: 16px;
        background-color: #eaeaea;
        border-radius: 10px;
    
}

.search-bar button {
    background-color: black;
    color: #ff9900;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #eaeaea;
    transition: background-color 0.3s ease;
}



.search-bar button:hover {
    color: white;
    border: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;

}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.hero {
    text-align: center;
    animation: fadeIn 1s ease-in;
}
.hero img{
    width: 100%;
    height: 7cm;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.categories, .featured-products h2 {
    padding: 20px;
    color: white;
}

.category-list, .product-list {
    display: flex;
    gap: 20px;
    color: whitesmoke;
}

.category, .product {
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    
}
.category img{
    width: 200px;
    height: 130px;
    display: flex;
    border-radius: 5%;
    box-shadow: 8px 8px 10px #333;
}
.product img{
    width: 200px;
    height: 130px;
    display: flex;
    border-radius: 5%;
    box-shadow: 8px 8px 10px #333;

}

.category:hover, .product:hover {
    transform: scale(1.05);
    border-radius: 5%;
    color: white;
}
.category img:hover, .product img:hover {
    box-shadow: 3px 4px 7px #eaeaea;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}